.country{
    border-radius: 10px;
    
    box-shadow: lightgrey 1px 2px 15px;
    overflow: hidden;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 300px;
    cursor: pointer;
    text-align: left;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 1.4rem;
    margin: 20px;
}


img{
    width: 300px;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;


}