.App{
  min-height: 100vh;

}

.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: left;
  align-items: center;
  
}

.search-bar{
  margin: 30px;
  height: 25px;
  min-width: 30%;
  border: 0px;
  border-radius: 5px;
  box-shadow: lightgrey 3px 3px 12px;
  padding: 20px 20px 20px 60px; 
}

.search-bar active{
  margin-left: 40px;
  width: 30%;
  border: none;
  padding: 10px;
  box-shadow: 0px 5px 20px rgb(71,71,71);  
}

.countries{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-wrap: wrap;
} 
